{% extends "base.html" %} {% block title %}Home | Note{% endblock %} {% block
content %}
<div class="text-center mb-4">
  <a class="btn btn-primary" href="{{ url_for('views.add') }}">Add New Note</a>
</div>
<div class="d-flex justify-content-around row">
  {% for note in notes %}
  <div class="col col-lg-2 m-2">
    <div class="card" style="width: 200px; height: 300px">
      <div class="card-header">#{{note.id}}</div>
      <div class="card-body">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-text">{{note.discription}}</p>
        <p class="card-text text-muted">{{note.detail}}</p>
        <a
          class="btn btn-danger"
          href="{{ url_for('views.delete_note', id=note.id) }}"
          >Delete</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
